@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border font-['Work_Sans',sans-serif];
  }
  html {
    font-size: 62.5%;
    @apply overflow-x-hidden;
  }
  body {
    @apply overflow-x-hidden bg-[#F6F8FA] text-[rgba(29,29,29,0.8)] transition-colors duration-300 ease-linear;
    scrollbar-color: rgb(98 84 243) transparent;
    scrollbar-width: thin;
  }
  body::-webkit-scrollbar {
    @apply w-[1.5rem];
  }
  body::-webkit-scrollbar-track {
    @apply bg-[rgb(24,24,29)];
  }
  body::-webkit-scrollbar-thumb {
    @apply bg-white rounded-[9px] border-[5px] border-solid border-transparent bg-clip-content;
  }
  h1 {
    @apply text-[6rem] font-black text-[rgb(24,24,29)];
  }
  h2 {
    @apply text-[4.4rem] font-light whitespace-normal text-[rgb(24,24,29)];
  }
  h3 {
    @apply text-[1.8rem] font-normal;
  }
  p, button {
    @apply text-[1.65rem] leading-[1.5] font-normal text-[rgba(29,29,29,0.8)];
  }
  a {
    @apply no-underline text-[#8490ff] transition-colors duration-200 ease-linear;
  }
  li {
    @apply list-none;
  }
}
